@model Support110Media.Data.Model.CostumerModel

@{
    ViewData["Title"] = "Update Costumer";
}

<h2>Update Costumer</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UpdateCostumer", "Main", FormMethod.Post))
        {

            <input id="CostumerId" name="CostumerId" type="hidden" value="@ViewBag.Costumer.CostumerId">
            <label class="control-label">Costumer Name</label>
            <input class="form-control" id="CostumerName" name="CostumerName" type="text" value="@ViewBag.Costumer.CostumerName">

            <label class="control-label">Costumer Surname</label>
            <input class="form-control" id="CostumerSurname" name="CostumerSurname" type="text" value="@ViewBag.Costumer.CostumerSurname">

            <label class="control-label">Costumer PhoneNumber</label>
            <input class="form-control" id="CostumerPhoneNumber" name="CostumerPhoneNumber" type="text" value="@ViewBag.Costumer.CostumerPhoneNumber">

            <label class="control-label">Costumer Addreess</label>
            <input class="form-control" id="CostumerAddreess" name="CostumerAddreess" type="text" value="@ViewBag.Costumer.CostumerAddreess">

            <label class="control-label">Costumer Type</label>
            <input class="form-control" id="CostumerType" name="CostumerType" type="text" value="@ViewBag.Costumer.CostumerType">

            <label class="control-label">CostumerMailAddress</label>
            <input class="form-control" id="CostumerMailAddress" name="CostumerMailAddress" type="text" value="@ViewBag.Costumer.CostumerMailAddress">

            <label class="control-label">CostumerPassword</label>
            <input class="form-control" id="CostumerPassword" name="CostumerPassword" type="text" value="@ViewBag.Costumer.CostumerPassword">

            <label class="control-label">Company Name</label>
            <input class="form-control" id="CompanyName" name="CompanyName" type="text" value="@ViewBag.Costumer.CompanyName">
            <br />
            <input type="submit" value="EDIT" class="btn btn-default" />
            <br />
        }
    </div>
</div>

<div>
    <a href="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
