@model IEnumerable<Support110Media.Data.Model.FileModel>

@{
    ViewData["Title"] = "Index";
}
@*<style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
    <h2>File List</h2>

    <p>
        <a href="~/File/AddNewFile" class="btn btn-link glyphicon glyphicon-plus">Create New</a>
    </p>
    <table border="0" class="topic" id="indexTable">
        <thead>
            <tr>
                <th>File Name</th>
                <th>Call Date</th>
                <th>Call Time</th>
                <th>Upload Date</th>
                <th>Costumer</th>
                <th>Audio</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileUploadDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CallDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CallTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostumerModel.CompanyName)
                    </td>
                    <td>
                                <audio controls id="audio">
                                    <source src="@Url.Content(@item.FilePath)" type="audio/ogg">
                                </audio>
                            </td>
                    <td>
                        @Html.ActionLink("", "UpdateFile", new { id = item.FileId }, new { @class = "btn btn-success  btn-xs  glyphicon glyphicon-pencil" }) |
                        @Html.ActionLink("", "DeleteFile", new { id = item.FileId }, new { @class = "btn btn-danger  btn-xs  glyphicon glyphicon-trash", onclick = "return confirm('Are you sure ?')" })
                    </td>
                </tr>
            }
        </tbody>
    </table>*@
    @*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js"></script>
    <script>$('#indexTable').DataTable();</script>*@

<meta name="viewport" content="width=device-width" />
<title>UploadAudio</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.min.js"></script>
<script src="~/scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
<script async src="file://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
    $(document).ready(function () {
        $('#dataTable').DataTable();

        $("#audio").on("play", function () {
            $("#audio").not(this).each(function (index, audio) {
                audio.pause();
            });

        });
    });
</script>
<!DOCTYPE html>

<html>
<head>
</head>
<body>
    <a href="~/File/AddNewFile" class="btn btn-link glyphicon glyphicon-plus">Create New</a>
    <div class="container py-4">
        <div class="card">
            <table id="dataTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Call Date</th>
                        <th>Call Time</th>
                        <th>Upload Date</th>
                        <th>Costumer</th>
                        <th>Audio</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.FileName</td>
                        <td>@item.CallDate</td>
                        <td>@item.CallTime</td>
                        <td>@item.FileUploadDate</td>
                        <td>@item.CostumerModel.CompanyName</td>
                        <td>
                            <audio controls id="audio">
                                <source src="@Url.Content(@item.FilePath)" type="audio/ogg">
                            </audio>
                        </td>
                        <td>
                            @Html.ActionLink("", "UpdateFile", new { id = item.FileId }, new { @class = "btn btn-success  btn-xs  glyphicon glyphicon-pencil" }) |
                            @Html.ActionLink("", "DeleteFile", new { id = item.FileId }, new { @class = "btn btn-danger  btn-xs  glyphicon glyphicon-trash", onclick = "return confirm('Are you sure ?')" })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>