@model Support110Media.Data.Model.FileModel

@{
    ViewData["Title"] = "UpdateFile";
}

<h2>Update File</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UpdateFile", "File", FormMethod.Post))
        {
            <input id="FileId" name="FileId" type="hidden" value="@ViewBag.File.FileId">
            <input class="form-control" id="FileName" name="FileName" type="hidden" value="@ViewBag.File.FileName">

            <input id="FileId" name="FileUploadDate" type="hidden" value="@ViewBag.File.FileUploadDate">

            <label class="control-label">Call Date</label>
            <input class="form-control" id="CallDate" name="CallDate" type="text" value="@ViewBag.File.CallDate">

            <label class="control-label">Call Time</label>
            <input class="form-control" id="CallTime" name="CallTime" type="text" value="@ViewBag.File.CallTime">
            <label>Costumer</label>
            <div>
                @Html.DropDownListFor(m => m.CostumerId, new SelectList(ViewBag.Costumers, "CostumerId", "CostumerName"), new { @class = "form-control" })
            </div>
            <br />
            <input type="submit" value="EDIT" class="btn btn-default" />
            <br />
        }
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
